<h1>Cadastro de Receitas</h1>
<hr />
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Nome">Nome:</label>
        <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: Bolo de Banana" maxlength="50" ngModel>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Porcao">Porção:</label>
        <input required="required" type="text" class="form-control" id="Porcao" name="Porcao" placeholder="Ex.: 1,2,3..." maxlength="2" ngModel>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Calorias">Calorias:</label>
        <input required="required" type="text" class="form-control" id="Calorias" name="Calorias" placeholder="Ex.: 150" maxlength="3" ngModel>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="ingrediente">Ingredientes:</label>
        <select multiple class="form-control" id="ingrediente" name="ingrediente" ngModel>
          <option *ngFor="let ingrediente of ingredients$ | async" [value]="ingrediente.descr" >{{ingrediente.descr}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Preparo">Modo de Preparo:</label>
        <textarea required="required" class="form-control" id="Preparo" name="Preparo" placeholder="Ex.: modo de preparo" rows="10" cols="50" ngModel></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div>
        <button type="submit" class="btn btn-sm btn-primary">Gravar</button>
      </div>
    </div>
  </div>
</form>
