<h1>Lista de Receitas</h1>


<p *ngIf="!recipes"><em>Loading...</em></p>

<table class='table' *ngIf="recipes">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Porção</th>
      <th>Calorias</th>
      <th>Visualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes">
      <td>{{ recipe.nome }}</td>
      <td>{{ recipe.porcao }}</td>
      <td>{{ recipe.caloria }}</td>
      <td>
        <span class="float-right">
          <button class="btn btn-outline-primary mb-1 btn-sm">
            Mostrar...
          </button>
        </span>
        <!--<a [routerLink]='["/recipe-view/{{ recipe.id }}"]' (click)='collapse()'>Mostrar...</a>-->
      </td>
    </tr>
  </tbody>
</table>
